nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    border: 2px solid black;
    padding: 2% 1%;
    background-color: black;
    text-align: center;
    margin: 0px;
}
nav li {
    text-align: center;
    display: inline;
    padding: 1%;
    margin: 1%;
    line-height: 25px;
    font-family: 'Unica One', cursive;
}
nav li a {
    text-decoration: none;
    color: white;
}
nav li a:active{
    color: red;
    background-color: blue;
}
nav li a:hover {
    color:#FFCEBA;
    transition: 0.5s;
}
.link-container {
    color: black;
    font-family: 'Unica One', cursive;
    text-decoration: none;
    padding: 0.5em 0em;
    text-align: center;
    vertical-align: middle;
}
.link-container a:visited, a:link {
    text-decoration: none;
    transition-property: none;
}
main{
    margin-top: 60px;
    padding-left: 0px;
    margin-left: 0px;
    width: inherit;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
main p{
    font-size: 23px;
    font-weight: lighter;
    background-color: #FFF6D7;
    padding: 1em 2em;
    border: 2px solid #FFCEBA;
    margin: 0px;
}
h2{
    background-color: #FFCEBA;
    color: white;
    margin: .5em 1em;
    padding: .5em 1em;
    text-align: center;
}
body{
    background-color: red;
    overflow: hidden;
    width: inherit;
    height: auto;
    margin: 0px;
    padding: 0px;
}
footer{
    width: inherit;
    text-align: right;
    padding: 1em;
    margin: 0em;
    background-image: url('/images/Grapefruit_transparentbg.png');
    background-size: contain;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    color: #000;
    background-color:  #FFCEBA;
}