#icon {
    width: 55px;
    height: 55px;
    position: absolute;
    margin: auto;
    justify-content: center;
}
.header-container #icon {
    justify-content: center;
    margin: 10px;
}
nav, .header-container {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    border: 2px solid black;
    padding: 2% 1%;
    background-color: black;
    text-align: center;
    margin: 0px;
}
nav li {
    text-align: center;
    display: inline;
    padding: 1%;
    margin: 1%;
    line-height: 25px;
    font-family: 'Unica One', cursive;
}
nav li a {
    text-decoration: none;
    color: white;
}
nav li a:active{
    color: red;
    background-color: blue;
}
nav li a:hover {
    color:#FFCEBA;
    transition: 0.5s;
}
.link-container {
    color: black;
    font-family: 'Unica One', cursive;
    text-decoration: none;
    padding: 0.5em 0em;
    text-align: center;
    vertical-align: middle;
}
.link-container a:visited, a:link {
    text-decoration: none;
    transition-property: none;
}
main{
    margin-top: 60px;
    padding-left: 0px;
    margin-left: 0px;
    width: inherit;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* main p{
    font-size: 20px;
    font-weight: lighter;
    background-color: #FFF6D7;
    padding: 1em 2em;
    border: 2px solid #FFCEBA;
    margin: 0px;
} */
h2{
    background-color: #FFCEBA;
    color: white;
    margin: .5em 1em;
    padding: .5em 1em;
    text-align: center;
}
body{
    background-color: #E1EEFF;
    width: inherit;
    min-height: 100%;
    position: relative;
    margin: 0px;
    padding-bottom: [footer-height];
}
.me-icon {
    height: inherit;
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
}
.about-me-card {
    background-color: #000;
    color: #FFF;
    width: 350px;
    height: 60%;
    justify-content: center;
    padding: 2px 5px;
    margin: auto;
    margin-top: 10%;
    text-align: left;
    border: 5px solid #000;
    border-radius: 15px;
}
footer{
    width: 100%;
    height: [footer-height]; /*https://css-tricks.com/couple-takes-sticky-footer/ */
    text-align: right;
    padding: 10px 15px 0px 15px;
    margin: 0px;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    color: #FFF;
    background-color:  #000;
}
html, body {
    height: 100%;
}