
<head>

<style>
        html{
            padding: 1em;
            background-color: #FFF6D7;
        }
        #icon{
            text-align: left;
        }
        header{
            background-color: black;
            color: white;
            font-size: 80px;
            text-align: center;
            padding: 1em 2em;
            font-family: 'Nanum Pen Script', cursive;
        }
         nav ul {
                list-style-type: none;
                border: 2px solid black;
                padding: 2% 1%;
                background-color: black;
                text-align: center;
            }
            nav li {
                text-align: center;
                display: inline;
                padding: 1%;
                margin: 1%;
                line-height: 15px;
                font-family: 'Unica One', cursive;
            }
            nav li a {
                margin: 1%;
                padding: 3%;
                text-decoration: none;
                color: white;
            }
            nav li a:active{
                color: red;
                background-color: blue;
            }
            nav li a:hover {
                color: white;
                background-color: #FFCEBA;
            }
        aside{
            float: left;
            text-align: center;
            width: 30%;
            background-color: #FFCEBA;
        }
        main{
            float: right;
            width: 60%;
            text-align: right;
            margin: 3% 4%;
            font-family: 'Covered By Your Grace', cursive;
        }
        main p{
            font-size: 23px;
            font-weight: lighter;
            background-color: #FFF6D7;
            padding: 1em 2em;
            border: 2px solid #FFCEBA;
        }
        h2{
            background-color: #FFCEBA;
            color: white;
            margin: .5em 1em;
            padding: .5em 1em;
            text-align: center;
        }
        body{
            background-color: white;
        }
        footer{
            clear: both;
            text-align: right;
            padding: 1em;
            margin: 1em 2em;
            background-image: url('/images/Grapefruit_transparentbg.png');
            background-size: contain;
            font-family:'Satisfy', cursive;
            font-size: 16px;
            color: black;
        }
    </style>
</head>